.Home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    height: auto;
    width: 80%;
    margin: auto;
}

.Home__ContainerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height:90%;
    width: 100%;
    padding: 20px 0px 20px 0px;
    border: 1px solid black;
}

.Home__Container{
    width: 100%;
    border: 1px solid blue;
}

.Home__Container__Ordenamiento{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Home__Container__Ordenamiento div{
    width: 33%;
    border: 1px solid black;
}

