.App{

}

.App__InitialPage{
  height: 100vh;
  background-image: url("../../assets/img/p5.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}


/* Home */
/* modo claro */
.App__Home__Claro{
  height: auto;
  background-color: white;
}
/* modo oscuro */
.App__Home__Oscuro{
  height: auto;
  background-color: black;
}


/* Formulario */
.App__Formulario__Claro{
  height: 100vh;
  background-color: white;
} 

.App__Formulario__Oscuro{
  height: 100vh;
  background-color: black;
}


/* Description */
.App__Description{
  min-height: 100vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

/* Favorites */
.App__Favorite__Claro{
  height: auto;
  background-color: white;
}

.App__Favorite__Oscuro{
  height: auto;
  background-color: black;
}


/* Error 404 */
.App__404{
  height: 100vh;
}