.App{

}

.App__InitialPage{
  height: 100vh;
  background-image: url("../../assets/img/p5.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.App__Home{
  height: 100vh;
  
  
}

.App__Formulario{
  height: 100vh;
  /* background-image: url("../../assets/img/p6.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left; */
}

.App__Description{
  height: 100vh;
}

.App__Favorite{
  height: 100vh;
}

.App__404{
  height: 100vh;
}