.Footer__Container{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    border: 1px solid black;
    margin-top: 20px;
    background-color: black;
    color: rgb(245, 244, 244);
}




/* Redes sociales */
.Footer__Container .Redes__Sociales{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.Footer__Container .Redes__Sociales img{
    height: 32px;
    width: 32px;
    background-color: white;
    border: 1px solid white;
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}


.Footer__Container .Redes__Sociales img:hover{
    height: 32px;
    width: 32px;
    background-color: rgb(192, 1, 192);
    border: 1px solid rgb(192, 1, 192);
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}


/* Copy */
.Footer__Container .Copy{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 40px;
    font-size: 14px;
}