.CardDog{
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 24%;
    border-radius: 5px;
    padding: 5px 0px 10px 0px;
    background-color: black;
    color: white;
    margin: 5px;
}

/* Botones */
.CardDog .Botones{
    height: 10%;
    display: flex;
    margin-bottom: 5px;
}


/* Boton Eliminar */
.CardDog .Botones .Boton__VistaPrevia{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.CardDog .Botones .Boton__VistaPrevia button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.CardDog .Botones .Boton__VistaPrevia img{
    height: 22px;
    width: 22px;
}

/* Container Imagen */
.CardDog .CardContainerImg{
    display: flex;
    align-items: center;
    height: 50%;
}

.CardDog .CardContainerImg .NavLinkContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardDog .CardContainerImg .NavLinkContainer img{
    height: 100%;
    width: 100%;
    color: rgb(212, 212, 212);
}


/* Container__Nombre__Temperamentos */
.Container__Nombre__Temperamentos{
    height: 26%;
}

/* Nombre */
.Container__Nombre__Temperamentos .Nombre{
    text-align: center;
    padding-top: 5px;
}

.Container__Nombre__Temperamentos .Nombre span{
    font-size: 18px;
    font-weight: bold;
}

/* Temperamentos */
.Container__Nombre__Temperamentos .Temperamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.Container__Nombre__Temperamentos .Temperamentos .divTemperamento{
    margin: 3px 5px 3px 5px;
    background-color: rgb(70, 7, 70);
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
}

.Container__Nombre__Temperamentos .Temperamentos .divTemperamento span{
    font-size: 10px;
}

/* Texto Peso */
.CardTextPeso{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CardTextPeso .TituloPeso{
    font-size: 14px;
    font-weight: bold;
}

.CardTextPeso .Text{
    font-size: 12px;
}
