.Container{
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    background-image: url("../../assets/img/walpaper04.jpg");
    background-position: center;
    background-size: cover;
    
}

.DescriptionDog{
    height: 90vh;
    width: 90%;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
}

.DescriptionDog .Home{
    text-align: center;
}

.DescriptionDog .Home button{
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: rgb(177, 0, 177);
    color: white;
    border: 1px solid rgb(177, 0, 177);
    border-radius: 5px;
}

.DescriptionDog .Home button:hover{
    
    background-color: rgb(70, 7, 70);
    color: white;
    border: 1px solid rgb(70, 7, 70);
}

.DescriptionDog .Container__Description{
    display: flex;
    height: 100%;
}

.DescriptionDog .Container__Description .Imagen{
    height: 95%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    margin-right: 10px;
}


.DescriptionDog .Container__Description .Imagen img{
    height: auto;
    width: 90%;
    border-radius: 5px;
}

.DescriptionDog .Container__Description .Nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 70px;
    width: 45%;
    text-align: center;
    margin-left: -10px;
    padding-left: 15px;
}

.DescriptionDog .Container__Description .Nombre h2{
    font-size: 56px;
    color: white;
}

.DescriptionDog .Container__Description .Temperamento{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    color: white;
}

.DescriptionDog .Container__Description .Temperamento div{
    padding: 5px 15px 5px 15px;
    margin: 5px 7px 5px 7px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: purple;
}


.DescriptionDog .Container__Description .Otros{
    background-color: rgba(0, 0, 0, 0.678);
    width: 20%;
    height: 95%;
    text-align: center;
    margin-left: 30px;
    color: white;
}