.InitialPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 80%;
    margin: auto;
}

/* ------------------------------------------------------------ */

.InitialPage__Presentacion{
    display: block;
    width: 40%;
    height: 60%;
    padding-top: 100px;
}

.InitialPage__Presentacion h1{
    font-size: 48px;
    margin-top: 40px;
    font-weight: bold;
    margin-top: 80px;
}

.InitialPage__Presentacion p{
    margin-top: -25px;
    font-size: 14px;
    color: rgb(88, 88, 88);
    margin-bottom: 15px;
}

.InitialPage__Presentacion__Botones{
    padding: 10px 0px 10px 0px;
}

.InitialPage__Presentacion__Botones button{
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.InitialPage__Presentacion__Botones button img{
    height: auto;
    width: 14px;
    margin-right: 5px;
}

#BotonUno{
    margin-right: 20px;
    background-color: rgb(192, 1, 192);
    border: 1px solid rgb(192, 1, 192);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

#BotonUno:hover{
    background-color: rgb(70, 7, 70);
    border: 1px solid rgb(70, 7, 70);
}

#BotonDos{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(182, 160, 182);
    color: rgb(182, 160, 182);
    border-radius: 8px;
    font-size: 22px;
}

#BotonDos:hover{
    background-color: rgb(70, 7, 70);
    border: 1px solid rgb(182, 160, 182);
    color: white;
    border-radius: 8px;
    font-size: 22px;
}


.BotonNext{
    margin-right: 20px;
    background-color: rgb(192, 1, 192);
    border: 1px solid rgb(192, 1, 192);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

.BotonNext:hover{
    margin-right: 20px;
    background-color: rgb(70, 7, 70);
    border: 1px solid rgb(70, 7, 70);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

.BotonPrev{
    margin-right: 20px;
    background-color: rgb(192, 1, 192);
    border: 1px solid rgb(192, 1, 192);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

.BotonPrev:hover{
    margin-right: 20px;
    background-color: rgb(70, 7, 70);
    border: 1px solid rgb(70, 7, 70);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

/* --------------------------------------------------------------- */

.InitialPage__LineaBaja{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.InitialPage__LineaBaja__Social{
    text-align: center;
    width: 200px;
    
}



.InitialPage__LineaBaja a img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 1px 4px 5px 3px black;
}

.InitialPage__LineaBaja__Botones{
    padding: 10px 0px 10px 0px;
}

.InitialPage__LineaBaja__Botones button{
    padding: 5px 10px 5px 10px;
}