.Navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* -------------------------------------- */
.Navbar__Lista{}

.Navbar__Lista ul{}

.Navbar__Lista ul li{
    display: inline-block;
    margin: 16px 10px 16px 10px;
    font-size: 16px;
}
.Navbar__Lista ul li span{
    padding: 16px 10px 16px 10px;
}

.Navbar__Lista ul li span:hover{
    padding: 16px 10px 16px 10px;
    background-image: url("../../assets/otherImg/b1.jpg");
    background-size: cover;
    background-position: center;
}

/* --------------------------------------------------- */

.Navbar__Logo{}

.Navbar__Logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid white;
}




/* ------------------------------------------ */

.Navbar__Buscador input{
    padding: 5px 15px 5px 15px;
    outline: none;
}



/* --------------------------------------------------------- */

.Active{
    padding: 16px 10px 16px 10px;
    background-image: url("../../assets/otherImg/b1.jpg");
    background-size: cover;
    background-position: center;
}