.Navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* -------------------------------------- */
.Navbar__Lista{}

.Navbar__Lista ul{}

.Navbar__Lista ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}




/* --------------------------------------------------- */

.Navbar__Logo{}

.Navbar__Logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}




/* ------------------------------------------ */

.Navbar__Buscador input{
    padding: 5px 15px 5px 15px;
    outline: none;
}



/* --------------------------------------------------------- */

.Active{
    border-bottom: 2px solid red;
    padding: 0px 2px 0px 2px;
}